@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

a {
  color: black; }

body {
  padding-top: 56px;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.wrapper-dark {
  background-color: #eee; }

.wrapper-light {
  background: white; }

.fas::after {
  content: "";
  padding-right: 0.25em; }

.section-title {
  padding-top: 25px;
  font-family: 'Raleway', sans-serif; }
  .section-title + p {
    text-align: center; }
  .section-title::after {
    content: "";
    display: block;
    margin: 30px auto;
    background-color: #ccc;
    height: 1px;
    width: 30px; }

.container {
  padding-top: 56px;
  padding-bottom: 56px; }

#biography {
  margin: 0 auto; }
  #biography .biography-left {
    padding-bottom: 30px; }
  #biography .profile {
    padding-top: 15px;
    padding-bottom: 15px; }
    #biography .profile dt {
      font-weight: inherit;
      color: #444444; }
    #biography .profile dd {
      font-size: 1.1em; }
    #biography .profile .link-icons {
      font-size: 2.0rem;
      letter-spacing: 0.5em;
      margin: 0 auto; }
  #biography .profile-detail {
    padding-bottom: 20px; }

.work {
  height: 250px;
  margin: 15px 5px;
  border: 1px solid black;
  background-color: white;
  filter: drop-shadow(0 0 0.75em rgba(0, 0, 0, 0.3)); }
  .work > h3 {
    margin: 5px;
    font-size: 1.5rem;
    font-family: "Sawarabi Gothic"; }
  .work > p {
    margin-left: 5px;
    margin-right: 5px; }
  .work .work-img {
    overflow: hidden;
    width: 100%;
    height: 150px;
    background-color: gray; }
    .work .work-img img {
      width: 100%; }
  .work :hover {
    opacity: 0.8; }

/* Modal window */
.modal dl dt {
  font-size: 1.1rem;
  text-align: center; }

.modal dl dd {
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1rem; }

.modal dl .work-img-modal {
  overflow: hidden;
  max-height: 350px;
  margin-bottom: 25px;
  border-bottom: 1px solid #dee2e6; }
  .modal dl .work-img-modal img {
    width: 100%; }

.modal a::after {
  content: " \f35d";
  font-family: "Font Awesome 5 Free";
  font-weight: 900; }

.mail-address {
  max-width: 375px;
  margin: 0 auto;
  background-color: #343a46; }
  .mail-address > p {
    font-size: 1.5rem;
    color: #ffffff; }

footer {
  text-align: center;
  color: #ffffff;
  background-color: #343a46;
  height: 56px; }
